@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rhodium+Libre&display=swap');

* {
  /* font-family: "Nunito", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfcfcf;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn-default:hover {
  background-color: rgb(190, 190, 190);
}

.content {
  padding-top: 50px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  margin-top: 10%;
  font-family: "Nunito", sans-serif;
  color: rgb(32, 32, 32);
  border-bottom: 3px solid rgb(32, 32, 32);
}

#underConstImage {
  height: 100px;
  margin-top: 3%;
}



















/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: #A0A0A0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  display: flex;
  padding-left: 80px;
  align-items: center;
}

.logoImg {
  margin-right: 10px;
  height: 60px;
}

.logoTextBold {
  font-family: Kanit;
  font-style: italic;
  font-weight: 500;
  font-size: larger;
  color: #FFFFFF;
}

.logoText {
  font-family: Kanit;
  font-style: italic;
  font-weight: 200;
  font-size: larger;
  color: #FFFFFF;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-between;
  padding-right: 100px;
}

.headerMenuItem {
  margin-left: 80px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-family: Nunito;
  font-style: italic;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContentText {
  text-align: center;
}

.mainContentTitle {
  font-size: 36px;
  margin-bottom: 10px;
}

.mainContentSubtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.mainContentButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mainContentImage {
  width: 50%;
}

.main2Content {
  margin-top: 50px;
}

.main2ContentTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.main2ContentText {
  line-height: 1.5;
}

.footer {
  text-align: center;
  background-color: #f5f5f5;
}

.footerTitle {
  font-size: 20px;
}

.footerCopyright {
  color: #aaa;
  margin-top: 10px;
}*/